<div class="profile-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div class="header">
        <div mat-card-avatar class="avatar">{{ userName | initials }}</div>
        <mat-card-title>{{ userName }}</mat-card-title>
      </div>
    </mat-card-header>
  </mat-card>
  <div class="content-container">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Posts">
        <div>
          @for (item of posts; track $index) {
            <app-post-card
              class="post-card"
              [postId]="item._id"
              [avatar]="item.author.username | initials"
              [title]="item.author.username"
              [content]="item.text"
              [subtitle]="item.createdAt | timeAgo"
              [showBulletOptions]="true"
              [commentsCount]="item.commentsCount"
            ></app-post-card>
          }
        </div>
      </mat-tab>
      <!-- <mat-tab label="Comments">Content 2</mat-tab> -->
    </mat-tab-group>
  </div>
</div>
