<div class="layout-container">
  <div class="profile-container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div class="header">
          <div mat-card-avatar class="avatar">
            <span>{{ postData.author.username | initials }}</span>
          </div>
          <div>
            <mat-card-title>{{ postData.author.username }}</mat-card-title>
            <mat-card-subtitle>{{
              postData.createdAt | timeAgo
            }}</mat-card-subtitle>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
    <div class="content-container">
      <p>
        {{ postData.text }}
      </p>
    </div>
    <div class="comment-box-container">
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <textarea
          class="comment-box"
          formControlName="text"
          placeholder="Comment"
          (input)="autoResize($event)"
        ></textarea>
        <button
          [disabled]="commentForm.invalid"
          mat-flat-button
          color="primary"
          type="submit"
        >
          Comment
        </button>
      </form>
    </div>
  </div>

  <div class="comments-container">
    @for (item of comments; track $index) {
      <div class="comment-container">
        <div class="user-comment-header">
          <div class="user-comment">
            <div mat-card-avatar class="avatar-comment">
              <span>{{ item.author.username | initials }}</span>
            </div>
            <p>
              {{ item.author.username }} •
              <span class="user-comment-date">{{
                item.createdAt | timeAgo
              }}</span>
              @if (item.createdAt !== item.updatedAt) {
                • <span class="edit-text">Edited</span>
              }
            </p>
          </div>
          <div>
            @if (item.author._id === userId) {
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editCommentHandler(item)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deletePostHandler(item._id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            }
          </div>
        </div>
        <div class="user-comment-content">
          @if (editingCommentId === item._id) {
            <div class="comment-box-container" style="margin-left: 50px">
              <form
                [formGroup]="editCommentForm"
                (ngSubmit)="onEditSubmit(item._id)"
              >
                <textarea
                  class="comment-box"
                  formControlName="text"
                  (input)="autoResize($event)"
                ></textarea>
                <div class="edit-comment-buttons">
                  <button
                    mat-stroked-button
                    type="button"
                    (click)="cancelEdit()"
                  >
                    Cancel
                  </button>
                  <button mat-flat-button type="submit" color="primary">
                    Edit
                  </button>
                </div>
              </form>
            </div>
          } @else {
            <p>{{ item.text }}</p>
          }
        </div>
      </div>
    }
  </div>
</div>
