.container-logo {
  width: 42px;
}

.navbar-container {
  background-color: var(--mat-sys-surface-container-lowest);
  border-bottom: 0.8px solid var(--mat-sys-secondary);
}

.feed-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-main-container {
  background-color: var(--mat-sys-surface-container-lowest);
  flex: 1;
}
.sidenav-container {
  border-right: 0.8px solid var(--mat-sys-secondary);
  border-radius: 0;
  background-color: var(--mat-sys-surface-container-lowest);
}

.main-container {
  background-color: var(--mat-sys-surface-container-lowest);
}

@media screen and (min-width: 1024px) {
  .navbar-container button {
    display: none;
  }
}
